*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(158, 216, 243);
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.containerBlock{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.divCount{

    padding: 30px;
}
